@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h2>Welcome to the Brewery app</h2>

@if (Model.Message != null)
{
    <div class="alert alert-info alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model.Message
    </div>
}

<br />

<div>You can either :</div>

<div>
    <a asp-page="/Import/Index" class="btn btn-info btn-sm">Import breweries from Unibooker</a>
    <a asp-page="/Breweries/Index" class="btn btn-success btn-sm">Go to list of breweries</a>
</div>
